/*Arquivo CSS principal da Página*/

body {
    margin-top: 1.25rem;
    font-family: 'Outfit', sans-serif;
    background-color: #f4f8f9;
}

header {
    /* background-color: #2196F3; */
    background-color: #d75d48;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;

}

header .subtitle {
    color: #ffffff;
}

.subtitle {
    text-align: center;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

h2 {
    text-align: center;
}

label {
    margin-left: 10px;
    margin-right: 10px
}

input {
    cursor: text;
    background-color: #E8EFFD;
    border: solid 1px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #239aff;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #239aff;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #239aff;
}

/*======================Estilizando a tabela===================*/

.data-table {
    width: 100%;
    background-color: #f4f8f9;
    border-spacing: 0 0.7rem;
}

.columns {
    height: 55px;
    background-color: #ffffff;
}

.column {
    background-color: #ffffff;
    color: #969cb3;
    font-weight: normal;
    padding: 0.7rem 1.5rem;
}

tbody tr {
    height: 65px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    color: #969cb3;
    opacity: 0.8;
    transition: .2s
}

tbody tr:hover {
    opacity: 1;
    box-shadow: 0 0px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s
}

.btnEditar,
.btnExcluir {
    border: none;
    /* background-color: #fdeeea; */
    border-radius: 4px;
    cursor: pointer;
    width: 18px;
    height: auto;
}


/* =========== Modal de cadastro ================= */

.modal {
    background-color: #F5F5F5;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.modal-container {
    width: 360px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 0.9rem;
}

#modal-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
}

.modal-title {
    font-weight: 400;
    margin: 0;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.container-fields {
    display: flex;
    flex-direction: column;
}

.input-group-date-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-group-date-time .container-fields {
    width: 45%;
}

.field {
    height: 40px;
    padding-left: 12px;
    margin-bottom: 8px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

select {
    padding: 5px 8px;
    background-color: #ffffff;
    border-radius: 0.3rem;
}

label {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

small {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 6px;
}

input,
.button {
    padding: 5px 8px;
    border: 1px #E8563D;
    border-radius: 0.3rem;
    background-color: #ffffff;
}

#input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 47%;
}

#btnSalvar,
#btnEditar {
    width: 100%;
    height: 40px;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#btnSalvar {
    background-color: #d75d48;
    color: #ffffff;
    border: 1px solid #d75d48;
}

#btnSalvar:hover {
    background-color: #ffffff;
    color: #E8563D;
    border: 1px solid #d75d48;
    transition: .2s;
}

#btnEditar {
    background-color: #ffffff;
    color: #E8563D;
    border: 1px solid #d75d48;
}

#btnEditar:hover {
    background-color: #d75d48;
    color: #ffffff;
    transition: .2s;

}
